@font-face{
	font-family: nanum;
	src: url(../font/NanumGothic.woff) format('woff');
	font-weight: 300;
}
* { margin: 0; padding: 0; }
ul,li{list-style: none;}
body { background: #0b0b0b; color: #fff;font-family: nanum;}
a{color: #fff;text-decoration: none;}


.wrap { width: 100%; height: 100vh;position: relative;overflow-y: hidden;overflow-x: hidden}


.wrap .move{position: absolute;width: 100%;height: 100%;}
.wrap .move .move_box{width: 3000px; height: 3000px; background: #02BFBF;transform: translateX(0px) rotate(45deg);left:calc(50% + 200px);position: absolute; top: 0;}



#nav1:checked ~ .wrap .move .move_box{animation: moving2top_1 .8s;}
#nav2:checked ~ .wrap .move .move_box{animation: moving2top_2 .8s;}
#nav3:checked ~ .wrap .move .move_box{animation: moving2top_3 .8s;}
#nav4:checked ~ .wrap .move .move_box{animation: moving2top_4 .8s;}
#nav5:checked ~ .wrap .move .move_box{animation: moving2top_5 .8s;}

@keyframes moving2top_1{
	0%{transform: translateX(0px) rotate(45deg);}
	50%{transform: translateX(-200px) rotate(45deg);}
	100%{transform: translateX(0px) rotate(45deg);}
}
@keyframes moving2top_2{
	0%{transform: translateX(0px) rotate(45deg);}
	50%{transform: translateX(-200px) rotate(45deg);}
	100%{transform: translateX(0px) rotate(45deg);}
}
@keyframes moving2top_3{
	0%{transform: translateX(0px) rotate(45deg);}
	50%{transform: translateX(-200px) rotate(45deg);}
	100%{transform: translateX(0px) rotate(45deg);}
}
@keyframes moving2top_4{
	0%{transform: translateX(0px) rotate(45deg);}
	50%{transform: translateX(-200px) rotate(45deg);}
	100%{transform: translateX(0px) rotate(45deg);}
}
@keyframes moving2top_5{
	0%{transform: translateX(0px) rotate(45deg);}
	50%{transform: translateX(-200px) rotate(45deg);}
	100%{transform: translateX(0px) rotate(45deg);}
}

.wrap .bg{position: absolute;width: 100%;height:100%;z-index: -10;}
.wrap .bg li:nth-child(1){width: 100%;height: 100%;background: url(../images/p1.jpg) no-repeat fixed center / cover;}
.wrap .bg li:nth-child(2){width: 100%;height: 100%;background: url(../images/p2.jpg) no-repeat fixed center / cover;}
.wrap .bg li:nth-child(3){width: 100%;height: 100%;background: url(../images/p3.jpg) no-repeat fixed center / cover;}
.wrap .bg li:nth-child(4){width: 100%;height: 100%;background: url(../images/p4.jpg) no-repeat fixed center / cover;}
.wrap .bg li:nth-child(5){width: 100%;height: 100%;background: url(../images/p5.jpg) no-repeat fixed center / cover;}



.top { height: 70px; width: 80%; position: relative; display: flex; align-items: center; margin: 0 auto; justify-content: space-between;width: 1280px}
.top .logo { font-size: 18px; margin-left: 15px;font-weight:bold;letter-spacing: 11px;}
.top .logo a{color: #000}
.top .menu_btn {width: 30px; height: 23px;margin-right: 15px;display: flex;align-items: center;}
.top .menu_btn .box{width: 100%;height: 2px;background: #000;position: relative;}
.top .menu_btn .box:before{width: 100%;height: 2px; position: absolute;top: -10px; content: "";display: block;background: #000;}
.top .menu_btn .box:after{width: 100%;height: 2px; position: absolute;top: 10px; content: "";display: block;background: #000;}

/* main */
input[type="radio"]{display: none;}
.main {width: 1280px;display: flex;margin: 0 auto;height: calc(100% - 150px);align-items: center;}
.main .nav{width: 200px;height: 95%;display: flex; align-items: center;position: relative;s}
.main .nav:before{content: "";position: absolute; width: 100%;height: 95%; border-left: 3px solid #1f1f1f;}
.main .nav .nav_box{width: 100%;height: 85%;display: flex;flex-flow: column;justify-content: space-between;}

.main .nav .nav_box li{color: #fff;font-size: 30px;position: relative;z-index: 20;left: -3px;cursor: pointer;transition: .5s}
.main .nav .nav_box label li:after{font-size: 12px;position: absolute;bottom: 0;left: 10px;transition:.5s;}

.main .nav .nav_box label li:hover {}
/* checked.. */

#nav1:checked ~ .wrap .bg{margin-top: 0;transition: 1s}
#nav2:checked ~ .wrap .bg{margin-top: -100vh;transition: 1s}
#nav3:checked ~ .wrap .bg{margin-top: -200vh;transition: 1s}
#nav4:checked ~ .wrap .bg{margin-top: -300vh;transition: 1s}
#nav5:checked ~ .wrap .bg{margin-top: -400vh;transition: 1s}


#nav1:checked ~ .wrap .main .nav .nav_box label:nth-child(1) li,
#nav2:checked ~ .wrap .main .nav .nav_box label:nth-child(2) li,
#nav3:checked ~ .wrap .main .nav .nav_box label:nth-child(3) li,
#nav4:checked ~ .wrap .main .nav .nav_box label:nth-child(4) li,
#nav5:checked ~ .wrap .main .nav .nav_box label:nth-child(5) li{color:yellow;font-size: 50px;transition: .5s;left: -6px;}

#nav1:checked ~ .wrap .main .nav .nav_box label:nth-child(1) li:after,
#nav2:checked ~ .wrap .main .nav .nav_box label:nth-child(2) li:after,
#nav3:checked ~ .wrap .main .nav .nav_box label:nth-child(3) li:after,
#nav4:checked ~ .wrap .main .nav .nav_box label:nth-child(4) li:after,
#nav5:checked ~ .wrap .main .nav .nav_box label:nth-child(5) li:after{color: yellow;left: 20px;bottom: 5px;transition: .5s;;}



.main .nav .nav_box label:nth-child(1) li:after{content: "FIRST";transition: .5s}
.main .nav .nav_box label:nth-child(2) li:after{content: "SECOND";transition: .5s}
.main .nav .nav_box label:nth-child(3) li:after{content: "THIRD";transition: .5s}
.main .nav .nav_box label:nth-child(4) li:after{content: "FOURTH";transition: .5s}
.main .nav .nav_box label:nth-child(5) li:after{content: "FIFTH";transition: .5s}
.body{width: 100%;height: 100%;display: flex;align-items: center;justify-content: flex-start;position: relative;}
.body .temp{font-size: 70px;font-family: "Century Gothic";font-weight: 900;position: absolute;color: #000}


.wrap .main .body p:nth-child(1){transform: translateY(2000px);transition: 1s;}
.wrap .main .body p:nth-child(2){transform: translateY(2000px);transition: 1s;}
.wrap .main .body p:nth-child(3){transform: translateY(2000px);transition: 1s;}
.wrap .main .body p:nth-child(4){transform: translateY(2000px);transition: 1s;}
.wrap .main .body p:nth-child(5){transform: translateY(2000px);transition: 1s;}

#nav1:checked ~ .wrap .main .body p:nth-child(1){transform: inherit;transition: 1s}
#nav1:checked ~ .wrap .main .body p:nth-child(2){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav1:checked ~ .wrap .main .body p:nth-child(3){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav1:checked ~ .wrap .main .body p:nth-child(4){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav1:checked ~ .wrap .main .body p:nth-child(5){transform: translateY(2000px);transition: 1s;opacity: 0}

#nav2:checked ~ .wrap .main .body p:nth-child(1){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav2:checked ~ .wrap .main .body p:nth-child(2){transform: inherit;transition: 1s}
#nav2:checked ~ .wrap .main .body p:nth-child(3){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav2:checked ~ .wrap .main .body p:nth-child(4){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav2:checked ~ .wrap .main .body p:nth-child(5){transform: translateY(2000px);transition: 1s;opacity: 0}

#nav3:checked ~ .wrap .main .body p:nth-child(1){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav3:checked ~ .wrap .main .body p:nth-child(2){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav3:checked ~ .wrap .main .body p:nth-child(3){transform: inherit;transition: 1s}
#nav3:checked ~ .wrap .main .body p:nth-child(4){transform: translateY(2000px);transition: 1s;opacity: 0}
#nav3:checked ~ .wrap .main .body p:nth-child(5){transform: translateY(2000px);transition: 1s;opacity: 0}

#nav4:checked ~ .wrap .main .body p:nth-child(1){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav4:checked ~ .wrap .main .body p:nth-child(2){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav4:checked ~ .wrap .main .body p:nth-child(3){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav4:checked ~ .wrap .main .body p:nth-child(4){transform: inherit;transition: 1s}
#nav4:checked ~ .wrap .main .body p:nth-child(5){transform: translateY(2000px);transition: 1s;opacity: 0}

#nav5:checked ~ .wrap .main .body p:nth-child(1){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav5:checked ~ .wrap .main .body p:nth-child(2){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav5:checked ~ .wrap .main .body p:nth-child(3){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav5:checked ~ .wrap .main .body p:nth-child(4){transform: translateY(-2000px);transition: 1s;opacity: 0}
#nav5:checked ~ .wrap .main .body p:nth-child(5){transform: inherit;transition: 1s}