@font-face{
	font-family: Nanum;
	src:"../fonts/NanumSquareL.woff" format('woff');
	font-weight: 300;
}
@font-face{
	font-family: Nanum;
	src:"../fonts/NanumSquareR.woff" format('woff');
	font-weight: 400;
}
@font-face{
	font-family: Nanum;
	src:"../fonts/NanumSquareB.woff" format('woff');
	font-weight: 700;
}
@font-face{
	font-family: Nanum;
	src:"../fonts/NanumSquareEB.woff" format('woff');
	font-weight: 900;
}
*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul,li{list-style: none;}
body{font-family: Nanum; font-weight: 300;}
/* header_section */

.header{}
.header .top{background: #252525; height: 50px;width: 100%;display: flex;justify-content: center;align-items:center;}
.header .top .top_in{width: 1440px;margin: 0 auto;height: 100%;line-height: 50px;display: flex;justify-content: flex-end;color: #fff;font-size: 13px;}
.header .top .top_in a{color: #fff;}
.header .top .top_in a:nth-child(1):after,
.header .top .top_in a:nth-child(2):after,
.header .top .top_in a:nth-child(3):after{content: "";display: inline-block; width: 1px; height: 10px; background: #fff;margin:0px 10px }

.header .bottom{background: #fff;height: 174px;display: flex;flex-flow: column;width: 100%;}

.header .bottom .logo {width: 100%; height: 110px;border-bottom: 1px solid #d9d9d9}
.header .bottom .logo >div{width: 1440px; margin: 0 auto;height: 100%;display: flex;justify-content: flex-start; align-items: center;}
.header .bottom .logo img{width: 253px;height: 50px;}

.header .bottom .nav{width: 1440px; margin: 0 auto;height: 64px;display: flex; justify-content: space-between;}
.header .bottom .nav div{width: 12.5%;line-height: 64px;color: #e98b31;font-size: 17px;font-weight: 400;position: relative;overflow: hidden;text-align: center;z-index: 30;cursor: pointer;}
.header .bottom .nav div a{color: #ff872a;z-index: 40;position: relative;transition: 1s;font-family: Nanum;font-weight: 500;}
.header .bottom .nav div:before{content: "";display: block;width: 20px;height: 20px;background: #ff872a;position: absolute;left:calc(50% -  10px);top: calc(50% -  10px);border-radius: 50%;opacity: 0;transition: 1s;z-index: 20}
.header .bottom .nav div:hover:before{width: 200px;height: 200px;opacity: 1;transition: 1s;left:calc(50% -  100px);top: calc(50% -  100px);z-index: 20}
.header .bottom .nav div:hover a{color: #fff;transition: 1s}

/* slide_section */

/* buttons _ section */

.buttons{width: 100%; height: 1900px;transition: 1s}
.buttons>ul{width: 1440px; height: 100%;margin: 0 auto;position: relative;margin-top: 40px;}
.buttons>ul li{position: absolute;cursor: pointer;overflow: hidden;transition: 1s;z-index: 30}

.buttons>ul li.type_a{width: 715px; height: 715px;background: #afa;}
.buttons>ul li.type_b{width: 350px; height: 350px;background: #afa;}
.buttons>ul li.type_de{width: 350px; height: 350px; background: #afa;}

.buttons>ul li.box1{left: 0;top:0px;background: url(../images/slide1.jpg);}

.buttons>ul li.box2{left: 725px;top: 0px; background: url(../images/location.png) no-repeat ;position: relative;transition: 1s;}
.buttons>ul li.box2:hover .plus_box{width: 350px; height: 350px;transition: 1s;}
.buttons>ul li.box2:hover .plus {width: 350px;height: 350px;top: calc(50% - 10px);opacity: 1;font-size: 100px;position: absolute;}

.buttons>ul li.box2 .plus_box{position: absolute;width: 50px; height: 50px; background: rgba(215,150,0,0.5);right: 0;bottom: 0;font-size: 45px;text-align: center;line-height: 40px;color: #fff;transition: 1s;transition-duration: 1s}
.buttons>ul li.box2 .plus{position: absolute;width: 50px; height: 50px; background:none;right: 0;bottom: 0;font-size: 45px;text-align: center;line-height: 40px;color:#fff;transition: 1s;top: calc(86%);opacity: 0.5;}
.buttons>ul li.box3{left: 1090px;top: 0px;}
.buttons>ul li.box4{left: 725px;top: 365px;}
.buttons>ul li.box5{left: 1090px;top: 365px;}
.buttons>ul li.box6{left: 0px;top:725px;}

.buttons>ul li.box7{left: 365px;top: 725px;}

.buttons>ul li.box8{left: 725px;top: 725px;}

.buttons>ul li.box9{left: 0px;top: 1090px;}
.buttons>ul li.box10{left: 365px;top: 1090px;}
.buttons>ul li.box11{left: 0px;top: 1450px;}
.buttons>ul li.box12{left: 365px;top: 1450px;z-index: 20}

.buttons .notice {padding: 30px;width: 83%;height: 83%;}
.buttons .notice .h4:after{content: "";display: block;width: 50%; height: 2px; background: #faf;margin: 10px 0px}
.buttons .notice .no_title{width: 100%; height: 30px; border-bottom: 1px solid #ff872a;display: flex;position: relative;}
.buttons .notice .no_title .more{position: absolute;right: 5%;font-size: 11px;bottom: 0;top: calc(50% - 11px);cursor: pointer;transition: .3s}
.buttons .notice .no_title .more:hover {color:  #ff872a;transition: .3s }
.buttons .notice .no_title p{border-bottom: 3px solid #e98b31; width: 30%;padding-bottom: 7px}


/* button_input's */

input[type="radio"]{display: none;}

#btn2:checked ~ .buttons {height: 2200px;transition: 1s}
#btn2:checked ~ .buttons ul .box2{width: 715px;height: 715px;background: url(../images/maps.png) no-repeat;transition: 1s;}
#btn2:checked ~ .buttons ul .box2 .plus_box,
#btn2:checked ~ .buttons ul .box2 .plus{opacity: 0;transition: .5s;}
#btn2:checked ~ .buttons ul .box3{top: 725px;}
#btn2:checked ~ .buttons ul .box4{top: 725px;}
#btn2:checked ~ .buttons ul .box5{top: 1090px;}
#btn2:checked ~ .buttons ul .box8 {top: 1450px; left: 725px; transition: 1s;}
#btn2:checked ~ .buttons ul .box12{top: 1090px; left: 725px}

#btn6:checked ~ .buttons {height: 2200px;transition: 1s}
#btn6:checked ~ .buttons ul .box6{width: 715px; height: 715px;}
#btn6:checked ~ .buttons ul .box7{top: 1450px;}
#btn6:checked ~ .buttons ul .box9{top: 1450px}
#btn6:checked ~ .buttons ul .box10{top: 1450px;left: 725px}
#btn6:checked ~ .buttons ul .box11{top: 1810px;}
#btn6:checked ~ .buttons ul .box12{top: 1810px;}

#btn10:checked ~ .buttons {height: 2200px;transition: 1s}
#btn10:checked ~ .buttons ul .box10{width: 715px; height: 715px;left: 0;z-index: 50}
#btn10:checked ~ .buttons ul .box9{top: 1810px;}
#btn10:checked ~ .buttons ul .box11{left: 725px}
#btn10:checked ~ .buttons ul .box12{left: 1090px}

#btn11:checked ~ .buttons {height: 2400px;transition: 1s;}
#btn11:checked ~ .buttons ul .box11{width: 715px;height: 715px;z-index: 50}
#btn11:checked ~ .buttons ul .box12{left: 725px;}

/* footer_section */
.top_footer{height: 110px;width: 100%;background: #ff872a;}
.top_footer>ul{width: 1440px; margin: 0 auto; height: 100%;display: flex;justify-content: space-between;align-items: center;} 
.top_footer .foo_left{width: 800px; height: 100%;display: flex;flex-flow: column;justify-content: center;align-items: center;margin-left: 320px;}
.top_footer .foo_left .text_box{display: flex;}
.top_footer .foo_left .text_box a,
.top_footer .foo_left .address,
.top_footer .foo_left .call{font-size: 13px;}
.top_footer .foo_left .text_box a:nth-child(1),
.top_footer .foo_left .text_box a:nth-child(2),
.top_footer .foo_left .text_box a:nth-child(3){margin-right: 10px;}
.top_footer .foo_left .text_box a:nth-child(1):after,
.top_footer .foo_left .text_box a:nth-child(2):after,
.top_footer .foo_left .text_box a:nth-child(3):after{content: "";display: inline-block;width: 1px;height: 10px; background: #000;margin-left: 10px;}

.footer{height: 35px;width: 100%;text-align: center;background:#252525;color: #fff;line-height: 35px; font-size: 12px}
